<% include ../partials/header %>
<% include ../students/new %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Meehhh</h1>
      <p>Whatevs</p>
      <p>
        <a class="btn btn-primary btn-large" data-toggle="modal" data-target="#studentNewModal">Add new student</a>
      </p>
    </div>
  </header>

  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% students.forEach(function(student){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= student.student_name %></h4>
            <h4><%= student.student_class %></h4>
            <h4><%= student.student_sash %></h4>
            <h4><%= student.student_hours %></h4>
            <h4><%= student.student_remaining %></h4>
          </div>
          <p>
            <a class="btn btn-warning btn-sm" href="/students/<%= student._id %>">Profile</a>
          </p>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>
